<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Plume</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>CochinealAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CochinealAppIcon</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CochinealAppIcon</string>
			</dict>
			<key>CeladonAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CeladonAppIcon</string>
				</array>
				<key>CFBundleIconName</key>
				<string>CeladonAppIcon</string>
			</dict>
			<key>ColdHarborAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ColdHarborAppIcon</string>
				</array>
				<key>CFBundleIconName</key>
				<string>ColdHarborAppIcon</string>
			</dict>
			<key>IndigoVatAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IndigoVatAppIcon</string>
				</array>
				<key>CFBundleIconName</key>
				<string>IndigoVatAppIcon</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Fraunces-Variable.ttf</string>
		<string>Manrope-Variable.ttf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchPaper</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
