<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>$(EXECUTABLE_NAME)</string>
  <key>CFBundleDisplayName</key>
  <string>Breathe Clock</string>
  <key>CFBundleIdentifier</key>
  <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleIcons</key>
  <dict>
    <key>CFBundlePrimaryIcon</key>
    <dict>
      <key>CFBundleIconName</key>
      <string>AppIcon</string>
      <key>CFBundleIconFiles</key>
      <array>
        <string>AppIcon</string>
      </array>
    </dict>
    <key>CFBundleAlternateIcons</key>
    <dict>
      <key>SageAppIcon</key>
      <dict>
        <key>CFBundleIconName</key>
        <string>SageAppIcon</string>
        <key>CFBundleIconFiles</key>
        <array>
          <string>SageAppIcon</string>
        </array>
      </dict>
      <key>IndigoAppIcon</key>
      <dict>
        <key>CFBundleIconName</key>
        <string>IndigoAppIcon</string>
        <key>CFBundleIconFiles</key>
        <array>
          <string>IndigoAppIcon</string>
        </array>
      </dict>
      <key>PlumAppIcon</key>
      <dict>
        <key>CFBundleIconName</key>
        <string>PlumAppIcon</string>
        <key>CFBundleIconFiles</key>
        <array>
          <string>PlumAppIcon</string>
        </array>
      </dict>
      <key>OchreAppIcon</key>
      <dict>
        <key>CFBundleIconName</key>
        <string>OchreAppIcon</string>
        <key>CFBundleIconFiles</key>
        <array>
          <string>OchreAppIcon</string>
        </array>
      </dict>
      <key>SlateAppIcon</key>
      <dict>
        <key>CFBundleIconName</key>
        <string>SlateAppIcon</string>
        <key>CFBundleIconFiles</key>
        <array>
          <string>SlateAppIcon</string>
        </array>
      </dict>
    </dict>
  </dict>
  <key>CFBundleName</key>
  <string>$(PRODUCT_NAME)</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>$(MARKETING_VERSION)</string>
  <key>CFBundleVersion</key>
  <string>$(CURRENT_PROJECT_VERSION)</string>
  <key>LSRequiresIPhoneOS</key>
  <true/>
  <key>UIApplicationSupportsIndirectInputEvents</key>
  <true/>
  <key>UIAppFonts</key>
  <array>
    <string>Fraunces-Variable.ttf</string>
    <string>Manrope-Variable.ttf</string>
  </array>
  <key>UILaunchScreen</key>
  <dict/>
  <key>UISupportedInterfaceOrientations</key>
  <array>
    <string>UIInterfaceOrientationPortrait</string>
  </array>
</dict>
</plist>
